{% extends 'base.html' %}

{% block title %}User - LiftLinker{% endblock %}

{% block nav %}
    <a class="nav-link hoverlink" href="{% url 'index' %}"
        style="color: #a1dce9;  margin-left: 1.5em; margin-right: 1.5em;">Home</a>
    <a class="nav-link hoverlink" href="{% url 'forumindex' %}"
        style="color: #a1dce9; margin-left: 1.5em; margin-right: 1.5em;">Forum</a>
    <a class="nav-link hoverlink" href="{% url 'about' %}"
        style="color: #a1dce9; margin-left: 1.5em; margin-right: 1.5em;">About</a>
        
    <div style="background-color: white; width: 4px; height: 2em; margin-left: 1.5em; margin-right: 1.5em;"></div>
    
    {% if session.username %}
        <a class="nav-link hoverlink" href="{% url 'userindex' %}"
            style="color: #FDA8FF;  margin-left: 1.5em; margin-right: 1.5em;">{{ session.username }}</a>
    {% else %}
        <a class="nav-link hoverlink" href="{% url 'userindex' %}"
            style="color: #FDA8FF;  margin-left: 1.5em; margin-right: 1.5em;">Login</a>
    {% endif %}
{% endblock %}

{% block navbar2 %}
    <a class="nav-link hoverlink" href="{% url 'login' %}" style="color: #ffffff; margin-right: .5em;">Login</a>
    <a class="nav-link hoverlink" href="{% url 'register' %}" style="color: #A1DCE9; text-decoration: underline; margin-right: .5em;">Register</a>
{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ message }}

    <form class="d-flex flex-column align-items-center" action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <!-- username -->
        <div style="margin: 1.5em 0px 0px 1em; background-color:#3e364f; border-radius: 10px; margin-right: 1em;">
            <input class="global_search_input" style="margin: 5px 10px 5px 10px; width: 300px; background: none; border: none;" type="text" maxlength="25" name="username" id="username" placeholder="Username" required>
        </div>
        <br>
        <!-- password -->
        <div style="margin: 1.5em 0px 0px 1em; background-color:#3e364f; border-radius: 10px; margin-right: 1em;">
            <input class="global_search_input" style="margin: 5px 10px 5px 10px; width: 300px; background: none; border: none;" type="password" maxlength="500" name="password" id="password" placeholder="Password" required>
        </div><br>
        <!-- confirm password -->
        <div style="margin: 1.5em 0px 0px 1em; background-color:#3e364f; border-radius: 10px; margin-right: 1em;">
            <input class="global_search_input" style="margin: 5px 10px 5px 10px; width: 300px; background: none; border: none;" type="password" name="confirm_password" id="confirm_password" placeholder="Confirm password" required>
        </div><br>
        <button class="hoverbutton" style="background-color:#a1dce9; padding: 5px 10px 5px 10px; border: none; border-radius: 10px; margin-right: 1em; color: #514669; width: 25%;" type="submit">Register</button>
    </form>
{% endblock %}
