<p>
    {% if session.username %}
        Logged in as <b style="color: red;">{{ session.username }}</b>
    {% endif %}
</p>

<!-- nav buttons -->
<a href="{% url 'index' %}">Home</a>
<a href="{% url 'userindex' %}">Home User</a>
<a href="{% url 'forumindex' %}">Forum</a>
<a href="{% url 'search_user' %}">Search</a>
<a href="{% url 'register' %}">Register</a>
<a href="{% url 'login' %}">Login</a>
<a href="{% url 'logout' %}">Logout</a>
<a href="{% url 'delete' %}">Delete account</a>

<h1>Home page</h1>

<p>
    Hello world !
</p>