<!DOCTYPE html>
<html {% block htmlLang %} lang="fr" {% endblock %}
      class="d-flex flex-column" style="min-height: 100%;">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="description"
          content="Site LiftLinker.">
    <meta name="author" content="Mohammad 'MOSEMBIK' KHADDAN">

    <title>{% block title %}LiftLinker{% endblock %}</title>
    <link rel="icon" href="{% static 'img/LL.png' %}">


    {% block stylesheets %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Days+One&display=swap">
    {% endblock %}

    <style>
            .hoverlink:hover{
                text-decoration: none;
                color: #FDA8FF !important;
            }

            .hoverbutton:hover{
                text-decoration: none;
                color: #514669 !important;
                background-color: #FDA8FF !important;
            }

            .global_search_input:focus {
                outline: none;
                border: none;
            }
            h1 {
                color: #A1DCE9 !important;
            }
            h2 {
                color: #ffffff !important;
                font-size: 1.8rem !important;
            }
            p {
                color: #ffffff;
                font-size: 1.2rem;
            }

    </style>

    {% block cssstyle %}
    
    {% endblock %}

    {% block javascripts %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    {% endblock %}
</head>
<body class="d-flex flex-column flex-grow-1 bg-light" style="font-family: Georgia;">
{# ------------------------ LOADER ----------------------- #}
<div>
    <script>
                window.onload = function(){
                    var fadeTarget = document.getElementById("loader");
                    var sizeTarget = document.getElementById("loader-img");
                    var fadeEffect = setInterval(function () {
                        if (!fadeTarget.style.opacity) {
                            fadeTarget.style.opacity = 1;
                        }
                        if (fadeTarget.style.opacity > 0) {
                            fadeTarget.style.opacity -= 0.05;
                            sizeTarget.style.width = (parseInt(sizeTarget.style.width)+1.5).toString() + "%";
                        } else {
                            clearInterval(fadeEffect);
                            fadeTarget.style.zIndex = -1000
                        }
                    }, 30);
                };

    </script>
    <span id="loader" style="
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            background-color: #3e364f;
            display:flex;
            justify-content: center;
            align-items: center;
            z-index: 1000;
    ">
        <img id="loader-img" src="{% static 'img/LL.png' %}" style="width: 15%;"/>
    </span>
</div>

{# ------------------------- NAV ------------------------- #}
<nav class="navbar navbar-expand-lg navbar-light d-flex w-100"
     style="z-index: 1000; height: 5em; position: fixed; background-color: #514669; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);">
    <div class="container-fluid d-flex justify-content-between h-100" >
        <a class="d-flex navbar-brand justify-content-center"  style="max-width: 16em; margin-left: 5em;" href="/">
            <img style="max-width: 16em; margin: 1% 1% 1% 1%;" src="{% static 'img/logo.png' %}">
        </a>
        <div>
            <button class="navbar-toggler" style="min-width: 3em; min-height: 3em; margin-right: 3em;" type="button"
                    data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav d-flex justify-content-center align-items-center" style="text-align: center; font-size: 1.5em; font-family: 'Days One', sans-serif; margin-right: 5em;">
                    {% block nav %}
                    <a class="nav-link hoverlink" href="{% url 'index' %}"
                       style="color: #FDA8FF;  margin-left: 1.5em; margin-right: 1.5em;">Home</a>
                    <a class="nav-link hoverlink" href="{% url 'forumindex' %}"
                       style="color: #a1dce9; margin-left: 1.5em; margin-right: 1.5em;">Forum</a>
                    <a class="nav-link hoverlink" href="{% url 'about' %}"
                       style="color: #a1dce9; margin-left: 1.5em; margin-right: 1.5em;">About</a>
                    <div style="background-color: white; width: 4px; height: 2em; margin-left: 1.5em; margin-right: 1.5em;"></div>
                    <a class="nav-link hoverlink" href="{% url 'userindex' %}"
                       style="color: #ffffff; margin-left: 1.5em; margin-right: 1.5em;">Login</a>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</nav>

{# ------------------------- BODY ------------------------- #}
<div class="d-flex flex-row flex-grow-1 justify-content-center" style="font-family: 'Days One', sans-serif; margin-top: 5em; margin-bottom: 3em; background-color: #514669;">
    <div class="d-flex flex-row justify-content-end" style="width: 300px;">
        <div style="position:fixed; margin-top: .5em; text-align: right; font-size: 1.5em; font-family: 'Days One', sans-serif;">
            {% block navbar2 %}
                
            {% endblock %}
        </div>

        <div style="position:fixed; width: 3px; background-color: #A1DCE9; height: 15em; margin-top: 2em; margin-right: .5em;"></div>
    </div>
    <div style="padding: 0px 10px 0px 10px; background: none; width: 780px;">
        <div style="margin-top: 1em;">
            {% block body %}

            {% endblock %}
        </div>
    </div>
    <div style="width: 300px;">
        <div style="position:fixed; margin: 1.5em 0px 0px 1em; background-color:#3e364f; border-radius: 10px; margin-right: 1em;">
            <form class="d-flex justify-content-evenly" action="{% url 'search' %}" method="post">
                {% csrf_token %}
                <input class="global_search_input" style="font-family: 'Days One', sans-serif; padding-left: 10px; margin: 5px 0px 5px 0px; background: none; border: none;" type="text" name="search_input" id="search_input" placeholder="Search..." required>
                <input style="background: none; border: none;" type="submit" value="| 🔍">
            </form>
        </div>
    </div>
</div>

{# ------------------------ FOOTER ------------------------ #}
<footer class="d-flex flex-row justify-content-center justify-content-evenly p-2 w-100"
        style="position: fixed; background-color: #3e364f; height: 3em; left: 0; bottom: 0;">
    {% block footer %}

    {% endblock %}
</footer>

<div style="display: none;">
    {% block tags %}
    <b>Mohammad</b> <strong><b>Mohammad KHADDAN</b> MohammadKHADDAN Mohamad</strong> Khadan Mohammadkdn <b>khaddan</b>
    Mohmmad Khad
    {% endblock %}
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>
