{% extends 'base.html' %}

{% block title %}Forum - LiftLinker{% endblock %}

{% block cssstyle %}
    <style>
        .post_card a {
            color: #ffffff;
            text-decoration: none;
        }
        .post_card:hover a {
            color: #FDA8FF;
        }
    </style>
{% endblock %}

{% block nav %}
    <a class="nav-link hoverlink" href="{% url 'index' %}"
        style="color: #a1dce9;  margin-left: 1.5em; margin-right: 1.5em;">Home</a>
    <a class="nav-link hoverlink" href="{% url 'forumindex' %}"
        style="color: #FDA8FF; margin-left: 1.5em; margin-right: 1.5em;">Forum</a>
    <a class="nav-link hoverlink" href="{% url 'about' %}"
        style="color: #a1dce9; margin-left: 1.5em; margin-right: 1.5em;">About</a>
        
    <div style="background-color: white; width: 4px; height: 2em; margin-left: 1.5em; margin-right: 1.5em;"></div>
    
    {% if session.username %}
        <a class="nav-link hoverlink" href="{% url 'userindex' %}"
            style="color: #ffffff;  margin-left: 1.5em; margin-right: 1.5em;">{{ session.username }}</a>
    {% else %}
        <a class="nav-link hoverlink" href="{% url 'userindex' %}"
            style="color: #ffffff;  margin-left: 1.5em; margin-right: 1.5em;">Login</a>
    {% endif %}
{% endblock %}

{% block navbar2 %}
<script>
    var currentDropdown = null;
    var currentBody = null;
    var currentItem = null;

    function showDropdown(divId) {
        var dropdownId = divId.split('-')[0];

        var element = document.getElementById(divId);
        var isDisplayed = getComputedStyle(element).display === 'block';

        resetDropdowns();

        element.style.display = isDisplayed ? 'none' : 'block';

        if (!isDisplayed) {
            currentDropdown = dropdownId;
            var categoryElement = document.getElementById(currentDropdown);
            categoryElement.style.color = '#A1DCE9';
            categoryElement.style.textDecoration = 'underline';
        } else {
            currentDropdown = null;
        }
    }

    function resetDropdowns() {
        var dropdownIds = ['nutrition', 'weight', 'calisthenics', 'crossfit', 'other'];

        dropdownIds.forEach(function (dropdownId) {
            var dropdownElement = document.getElementById(dropdownId + '-dropdown');
            var categoryElement = document.getElementById(dropdownId);

            dropdownElement.style.display = 'none';
            categoryElement.style.color = '#ffffff';
            categoryElement.style.textDecoration = 'none';
        });
        
        document.getElementById('trend').style.color = '#ffffff';
        document.getElementById('trend').style.textDecoration = 'none';

        if (currentBody) {
            var currentBodyElement = document.getElementById(currentBody);
            currentBodyElement.style.display = 'none';
        }

        if (currentItem) {
            currentItem.style.color = '#A1DCE9';
            currentItem.style.fontSize = '16px';
        }
    }

    function switchBody(bodyId, itemElement) {
        var bodyIds = ['body-trend', 'body-nutrition-questions', 'body-nutrition-recipes', 'body-nutrition-supplements', 'body-weight-questions', 'body-weight-freeweights', 'body-weight-machines', 'body-calisthenics-questions', 'body-calisthenics-equipments', 'body-calisthenics-routines', 'body-crossfit-questions', 'body-crossfit-circuits', 'body-other-questions', 'body-other-other'];
    
        bodyIds.forEach(function(bodyId) {
            var bodyElement = document.getElementById(bodyId);
            bodyElement.style.display = 'none';
        });
    
        var selectedBodyElement = document.getElementById(bodyId);
        selectedBodyElement.style.display = 'block';
    
        if (currentItem) {
            currentItem.style.color = '#A1DCE9';
            currentItem.style.fontSize = '16px';
        }
    
        if (itemElement.id !== 'trend') {
            itemElement.style.color = '#FDA8FF';
            itemElement.style.fontSize = '18px';
            currentItem = itemElement;
        } else {
            currentItem = null;
            itemElement.style.color = '#A1DCE9';
            itemElement.style.textDecoration = 'underline';
            resetDropdowns();
        }
    }
    
    function resetTrend() {
        var trendElement = document.getElementById('trend');
        trendElement.style.color = '#A1DCE9';
        trendElement.style.textDecoration = 'underline';
    }
</script>

{% if session.username %}
    <div class="hoverbutton" style="background-color:#a1dce9; border-radius: 10px; margin-right: 1em;">
        <a class="nav-link" href="{% url 'newpost' %}" style="color: #514669;">New Subject</a>
    </div>
{% else %}
    <div class="hoverbutton" style="background-color:#a1dce9; border-radius: 10px; margin-right: 1em;">
        <a class="nav-link" href="{% url 'login' %}" style="color: #514669;">New Subject</a>
    </div>
{% endif %}
<a class="nav-link hoverlink" id="trend" href="#" onclick="switchBody('body-trend', this); resetTrend();" style="color: #A1DCE9; text-decoration: underline; margin-right: .5em;">Trend</a>

<a class="nav-link hoverlink" id="nutrition" href="#" onclick="showDropdown('nutrition-dropdown')" style="color: #ffffff; margin-right: .5em;">Nutrition</a>
<div id="nutrition-dropdown" style="display: none;">
    <a class="nav-link hoverlink" id="nutrition-questions" href="#" onclick="switchBody('body-nutrition-questions', this)" style="color: #A1DCE9; margin-right: .5em; font-size: 16px;">Questions</a>
    <a class="nav-link hoverlink" id="nutrition-recipes" href="#" onclick="switchBody('body-nutrition-recipes', this)" style="color: #A1DCE9; margin-right: .5em; font-size: 16px;">Recipes</a>
    <a class="nav-link hoverlink" id="nutrition-supplements" href="#" onclick="switchBody('body-nutrition-supplements', this)" style="color: #A1DCE9; margin-right: .5em; font-size: 16px;">Supplements</a>
</div>

<a class="nav-link hoverlink" id="weight" href="#" onclick="showDropdown('weight-dropdown')" style="color: #ffffff; margin-right: .5em;">Weight</a>
<div id="weight-dropdown" style="display: none;">
    <a class="nav-link hoverlink" id="weight-questions" href="#" onclick="switchBody('body-weight-questions', this)" style="color: #A1DCE9; margin-right: .5em; font-size: 16px;">Questions</a>
    <a class="nav-link hoverlink" id="weight-freeweights" href="#" onclick="switchBody('body-weight-freeweights', this)" style="color: #A1DCE9; margin-right: .5em; font-size: 16px;">Free Weights</a>
    <a class="nav-link hoverlink" id="weight-machines" href="#" onclick="switchBody('body-weight-machines', this)" style="color: #A1DCE9; margin-right: .5em; font-size: 16px;">Machines</a>
</div>

<a class="nav-link hoverlink" id="calisthenics" href="#" onclick="showDropdown('calisthenics-dropdown')" style="color: #ffffff; margin-right: .5em;">Calisthenics</a>
<div id="calisthenics-dropdown" style="display: none;">
    <a class="nav-link hoverlink" id="calisthenics-questions" href="#" onclick="switchBody('body-calisthenics-questions', this)" style="color: #A1DCE9; margin-right: .5em; font-size: 16px;">Questions</a>
    <a class="nav-link hoverlink" id="calisthenics-equipments" href="#" onclick="switchBody('body-calisthenics-equipments', this)" style="color: #A1DCE9; margin-right: .5em; font-size: 16px;">Equipments</a>
    <a class="nav-link hoverlink" id="calisthenics-routines" href="#" onclick="switchBody('body-calisthenics-routines', this)" style="color: #A1DCE9; margin-right: .5em; font-size: 16px;">Routines</a>
</div>

<a class="nav-link hoverlink" id="crossfit" href="#" onclick="showDropdown('crossfit-dropdown')" style="color: #ffffff; margin-right: .5em;">Cross-Fit</a>
<div id="crossfit-dropdown" style="display: none;">
    <a class="nav-link hoverlink" id="crossfit-questions" href="#" onclick="switchBody('body-crossfit-questions', this)" style="color: #A1DCE9; margin-right: .5em; font-size: 16px;">Questions</a>
    <a class="nav-link hoverlink" id="crossfit-circuits" href="#" onclick="switchBody('body-crossfit-circuits', this)" style="color: #A1DCE9; margin-right: .5em; font-size: 16px;">Circuits</a>
</div>

<a class="nav-link hoverlink" id="other" href="#" onclick="showDropdown('other-dropdown')" style="color: #ffffff; margin-right: .5em;">Other</a>
<div id="other-dropdown" style="display: none;">
    <a class="nav-link hoverlink" id="other-questions" href="#" onclick="switchBody('body-other-questions', this)" style="color: #A1DCE9; margin-right: .5em; font-size: 16px;">Questions</a>
    <a class="nav-link hoverlink" id="other-other" href="#" onclick="switchBody('body-other-other', this)" style="color: #A1DCE9; margin-right: .5em; font-size: 16px;">Other</a>
</div>
{% endblock %}

{% block body %}

    <div id="body-trend">
        <h1>Trending posts</h1>
        {% if posts %}
            {% for p in posts %}
                <div onclick="window.location.href='{% url 'post' postID=p.postID %}'" class="post_card" style="margin: 10px; padding: 5px; background-color: #574A6D;">
                    <a style="font-size: 1.3em;" href="#"> {{ p.title }} </a> <i style="color: #8B8B8B;">- {{ p.author }}</i><br>
                    <p style="color: #88A2FE;">{{ p.content|slice:":50" }}...</p>
                </div>
            {% endfor %}
        {% else %}
            <p> No posts found </p>
        {% endif %}
    </div>



    <!-- NUTRITION -->
    <div id="body-nutrition-questions" style="display: none;">
        <h1>Nutrition Questions</h1>
        {% if filtered.nutrition.questions|length > 0 %}
            {% for p in filtered.nutrition.questions %}
                <div onclick="window.location.href='{% url 'post' postID=p.postID %}'" class="post_card" style="margin: 10px; padding: 5px; background-color: #574A6D;">
                    <a style="font-size: 1.3em;" href="#"> {{ p.title }} </a> <i style="color: #8B8B8B;">- {{ p.author }}</i><br>
                    <p style="color: #88A2FE;">{{ p.content|slice:":50" }}...</p>
                </div>
            {% endfor %}
        {% else %}
            <p> No posts found </p>
        {% endif %}
    </div>
    <div id="body-nutrition-recipes" style="display: none;">
        <h1>Nutrition Recipes</h1>
        {% if filtered.nutrition.recipes|length > 0 %}
            {% for p in filtered.nutrition.recipes %}
                <div onclick="window.location.href='{% url 'post' postID=p.postID %}'" class="post_card" style="margin: 10px; padding: 5px; background-color: #574A6D;">
                    <a style="font-size: 1.3em;" href="#"> {{ p.title }} </a> <i style="color: #8B8B8B;">- {{ p.author }}</i><br>
                    <p style="color: #88A2FE;">{{ p.content|slice:":50" }}...</p>
                </div>
            {% endfor %}
        {% else %}
            <p> No posts found </p>
        {% endif %}
    </div>
    <div id="body-nutrition-supplements" style="display: none;">
        <h1>Nutrition Supplements</h1>
        {% if filtered.nutrition.supplements|length > 0 %}
            {% for p in filtered.nutrition.supplements %}
                <div onclick="window.location.href='{% url 'post' postID=p.postID %}'" class="post_card" style="margin: 10px; padding: 5px; background-color: #574A6D;">
                    <a style="font-size: 1.3em;" href="#"> {{ p.title }} </a> <i style="color: #8B8B8B;">- {{ p.author }}</i><br>
                    <p style="color: #88A2FE;">{{ p.content|slice:":50" }}...</p>
                </div>
            {% endfor %}
        {% else %}
            <p> No posts found </p>
        {% endif %}
    </div>


    
    <!-- WEIGHT -->
    <div id="body-weight-questions" style="display: none;">
        <h1>Weight Questions</h1>
        {% if filtered.weight.questions|length > 0 %}
            {% for p in filtered.weight.questions %}
                <div onclick="window.location.href='{% url 'post' postID=p.postID %}'" class="post_card" style="margin: 10px; padding: 5px; background-color: #574A6D;">
                    <a style="font-size: 1.3em;" href="#"> {{ p.title }} </a> <i style="color: #8B8B8B;">- {{ p.author }}</i><br>
                    <p style="color: #88A2FE;">{{ p.content|slice:":50" }}...</p>
                </div>
            {% endfor %}
        {% else %}
            <p> No posts found </p>
        {% endif %}
    </div>
    <div id="body-weight-freeweights" style="display: none;">
        <h1>Weight Free Weights</h1>
        {% if filtered.weight.freeweights|length > 0 %}
            {% for p in filtered.weight.freeweights %}
                <div onclick="window.location.href='{% url 'post' postID=p.postID %}'" class="post_card" style="margin: 10px; padding: 5px; background-color: #574A6D;">
                    <a style="font-size: 1.3em;" href="#"> {{ p.title }} </a> <i style="color: #8B8B8B;">- {{ p.author }}</i><br>
                    <p style="color: #88A2FE;">{{ p.content|slice:":50" }}...</p>
                </div>
            {% endfor %}
        {% else %}
            <p> No posts found </p>
        {% endif %}
    </div>
    <div id="body-weight-machines" style="display: none;">
        <h1>Weight Machines</h1>
        {% if filtered.weight.machines|length > 0 %}
            {% for p in filtered.weight.machines %}
                <div onclick="window.location.href='{% url 'post' postID=p.postID %}'" class="post_card" style="margin: 10px; padding: 5px; background-color: #574A6D;">
                    <a style="font-size: 1.3em;" href="#"> {{ p.title }} </a> <i style="color: #8B8B8B;">- {{ p.author }}</i><br>
                    <p style="color: #88A2FE;">{{ p.content|slice:":50" }}...</p>
                </div>
            {% endfor %}
        {% else %}
            <p> No posts found </p>
        {% endif %}
    </div>


    
    <!-- CALISTHENICS -->
    <div id="body-calisthenics-questions" style="display: none;">
        <h1>Calisthenics Questions</h1>
        {% if filtered.calisthenics.questions|length > 0 %}
            {% for p in filtered.calisthenics.questions %}
                <div onclick="window.location.href='{% url 'post' postID=p.postID %}'" class="post_card" style="margin: 10px; padding: 5px; background-color: #574A6D;">
                    <a style="font-size: 1.3em;" href="#"> {{ p.title }} </a> <i style="color: #8B8B8B;">- {{ p.author }}</i><br>
                    <p style="color: #88A2FE;">{{ p.content|slice:":50" }}...</p>
                </div>
            {% endfor %}
        {% else %}
            <p> No posts found </p>
        {% endif %}
    </div>
    <div id="body-calisthenics-equipments" style="display: none;">
        <h1>Calisthenics Equipments</h1>
        {% if filtered.calisthenics.equipments|length > 0 %}
            {% for p in filtered.calisthenics.equipments %}
                <div onclick="window.location.href='{% url 'post' postID=p.postID %}'" class="post_card" style="margin: 10px; padding: 5px; background-color: #574A6D;">
                    <a style="font-size: 1.3em;" href="#"> {{ p.title }} </a> <i style="color: #8B8B8B;">- {{ p.author }}</i><br>
                    <p style="color: #88A2FE;">{{ p.content|slice:":50" }}...</p>
                </div>
            {% endfor %}
        {% else %}
            <p> No posts found </p>
        {% endif %}
    </div>
    <div id="body-calisthenics-routines" style="display: none;">
        <h1>Calisthenics Routines</h1>
        {% if filtered.calisthenics.routines|length > 0 %}
            {% for p in filtered.calisthenics.routines %}
                <div onclick="window.location.href='{% url 'post' postID=p.postID %}'" class="post_card" style="margin: 10px; padding: 5px; background-color: #574A6D;">
                    <a style="font-size: 1.3em;" href="#"> {{ p.title }} </a> <i style="color: #8B8B8B;">- {{ p.author }}</i><br>
                    <p style="color: #88A2FE;">{{ p.content|slice:":50" }}...</p>
                </div>
            {% endfor %}
        {% else %}
            <p> No posts found </p>
        {% endif %}
    </div>


    
    <!-- CROSS FIT -->
    <div id="body-crossfit-questions" style="display: none;">
        <h1>Crossfit Questions</h1>
        {% if filtered.crossfit.questions|length > 0 %}
            {% for p in filtered.crossfit.questions %}
                <div onclick="window.location.href='{% url 'post' postID=p.postID %}'" class="post_card" style="margin: 10px; padding: 5px; background-color: #574A6D;">
                    <a style="font-size: 1.3em;" href="#"> {{ p.title }} </a> <i style="color: #8B8B8B;">- {{ p.author }}</i><br>
                    <p style="color: #88A2FE;">{{ p.content|slice:":50" }}...</p>
                </div>
            {% endfor %}
        {% else %}
            <p> No posts found </p>
        {% endif %}
    </div>

    <div id="body-crossfit-circuits" style="display: none;">
        <h1>Crossfit Circuits</h1>
        {% if filtered.crossfit.circuits|length > 0 %}
            {% for p in filtered.crossfit.circuits %}
                <div onclick="window.location.href='{% url 'post' postID=p.postID %}'" class="post_card" style="margin: 10px; padding: 5px; background-color: #574A6D;">
                    <a style="font-size: 1.3em;" href="#"> {{ p.title }} </a> <i style="color: #8B8B8B;">- {{ p.author }}</i><br>
                    <p style="color: #88A2FE;">{{ p.content|slice:":50" }}...</p>
                </div>
            {% endfor %}
        {% else %}
            <p> No posts found </p>
        {% endif %}
    </div>


    
    <!-- OTHER -->
    <div id="body-other-questions" style="display: none;">
        <h1>Other Questions</h1>
        {% if filtered.other.questions|length > 0 %}
            {% for p in filtered.other.questions %}
                <div onclick="window.location.href='{% url 'post' postID=p.postID %}'" class="post_card" style="margin: 10px; padding: 5px; background-color: #574A6D;">
                    <a style="font-size: 1.3em;" href="#"> {{ p.title }} </a> <i style="color: #8B8B8B;">- {{ p.author }}</i><br>
                    <p style="color: #88A2FE;">{{ p.content|slice:":50" }}...</p>
                </div>
            {% endfor %}
        {% else %}
            <p> No posts found </p>
        {% endif %}
    </div>

    <div id="body-other-other" style="display: none;">
        <h1>Other Other</h1>
        {% if filtered.other.other|length > 0 %}
            {% for p in filtered.other.other %}
                <div onclick="window.location.href='{% url 'post' postID=p.postID %}'" class="post_card" style="margin: 10px; padding: 5px; background-color: #574A6D;">
                    <a style="font-size: 1.3em;" href="#"> {{ p.title }} </a> <i style="color: #8B8B8B;">- {{ p.author }}</i><br>
                    <p style="color: #88A2FE;">{{ p.content|slice:":50" }}...</p>
                </div>
            {% endfor %}
        {% else %}
            <p> No posts found </p>
        {% endif %}
    </div>
{% endblock %}
