{% extends 'base.html' %}

{% block title %}Forum - LiftLinker{% endblock %}

{% block cssstyle %}

{% endblock %}

{% block nav %}
    <a class="nav-link hoverlink" href="{% url 'index' %}"
        style="color: #a1dce9;  margin-left: 1.5em; margin-right: 1.5em;">Home</a>
    <a class="nav-link hoverlink" href="{% url 'forumindex' %}"
        style="color: #FDA8FF; margin-left: 1.5em; margin-right: 1.5em;">Forum</a>
    <a class="nav-link hoverlink" href="{% url 'about' %}"
        style="color: #a1dce9; margin-left: 1.5em; margin-right: 1.5em;">About</a>
        
    <div style="background-color: white; width: 4px; height: 2em; margin-left: 1.5em; margin-right: 1.5em;"></div>
    
    {% if session.username %}
        <a class="nav-link hoverlink" href="{% url 'userindex' %}"
            style="color: #ffffff;  margin-left: 1.5em; margin-right: 1.5em;">{{ session.username }}</a>
    {% else %}
        <a class="nav-link hoverlink" href="{% url 'userindex' %}"
            style="color: #ffffff;  margin-left: 1.5em; margin-right: 1.5em;">Login</a>
    {% endif %}
{% endblock %}


{% block body %}
    <script>
        // Fonction appelée lorsque la catégorie est modifiée
        function switch_subcategory() {
            var category = document.getElementById("category").value;
            var subcategory = document.getElementById("subcategory");

            subcategory.innerHTML = "";
            if (category === "nutrition") {
                var option1 = document.createElement("option");
                option1.value = "questions";
                option1.text = "Questions";
                subcategory.appendChild(option1);

                var option2 = document.createElement("option");
                option2.value = "recipes";
                option2.text = "Recipes";
                subcategory.appendChild(option2);

                var option3 = document.createElement("option");
                option3.value = "suplements";
                option3.text = "Suplements";
                subcategory.appendChild(option3);
            } 
            else if (category === "weight") {
                var option1 = document.createElement("option");
                option1.value = "questions";
                option1.text = "Questions";
                subcategory.appendChild(option1);

                var option2 = document.createElement("option");
                option2.value = "freeweights";
                option2.text = "Free weights";
                subcategory.appendChild(option2);

                var option3 = document.createElement("option");
                option3.value = "machines";
                option3.text = "Machines";
                subcategory.appendChild(option3);
            } 
            else if (category === "calisthenics") {
                var option1 = document.createElement("option");
                option1.value = "questions";
                option1.text = "Questions";
                subcategory.appendChild(option1);

                var option2 = document.createElement("option");
                option2.value = "equipments";
                option2.text = "Equipments";
                subcategory.appendChild(option2);

                var option3 = document.createElement("option");
                option3.value = "routines";
                option3.text = "Routines";
                subcategory.appendChild(option3);
            } 
            else if (category === "crossfit") {
                var option1 = document.createElement("option");
                option1.value = "questions";
                option1.text = "Questions";
                subcategory.appendChild(option1);

                var option2 = document.createElement("option");
                option2.value = "circuits";
                option2.text = "Circuits";
                subcategory.appendChild(option2);
            }
            else if (category === "other") {
                var option1 = document.createElement("option");
                option1.value = "questions";
                option1.text = "Questions";
                subcategory.appendChild(option1);

                var option1 = document.createElement("option");
                option1.value = "other";
                option1.text = "Other";
                subcategory.appendChild(option1);
            }
        }
    </script>
    <h1>New Post</h1>
    <form class="d-flex flex-column align-items-center" method="post">
        {% csrf_token %}
        <!-- Subject -->
        <div style="margin: 1.5em 0px 0px 1em; background-color:#3e364f; border-radius: 10px; margin-right: 1em;">
            <input class="global_search_input" style="color: #8B8B8B; margin: 5px 10px 5px 10px; width: 700px; background: none; border: none;" type="text" maxlength="60" name="title" id="title" placeholder="Subject" required>
        </div>
        <br>
        <!-- Content -->
        <div style="margin: 1.5em 0px 0px 1em; background-color:#3e364f; border-radius: 10px; margin-right: 1em;">
            <textarea class="global_search_input" style="resize: none; color: #8B8B8B; margin: 5px 10px 5px 10px; width: 700px; height: 400px; background: none; border: none;" maxlength="3000" name="content" id="content" placeholder="Content" required></textarea>
        </div>
        <br>
        <!-- Category -->
        <div class="d-flex justify-content-between">
            <!-- Category -->
            <div>
                <label style="color: #8B8B8B;" for="category">Category :</label><br>
                <div style="background-color:#3e364f; border-radius: 10px; margin-right: 1em;">
                    <select class="global_search_input" style="color: #8B8B8B; margin: 5px 10px 5px 10px; width: 300px; background: none; border: none;" id="category" name="category" onchange="switch_subcategory()" required>
                        <option disabled selected></option>
                        <option value="nutrition">Nutrition</option>
                        <option value="weight">Weight Lifting</option>
                        <option value="calisthenics">Calisthenics</option>
                        <option value="crossfit">Cross-Fit</option>
                        <option value="other">Other</option>
                    </select>
                </div>
            </div>
            <!-- SubCategory -->
            <div>
                <label style="color: #8B8B8B;" for="subcategory">Sub-category :</label><br>
                <div style="background-color:#3e364f; border-radius: 10px; margin-right: 1em;">            
                    <select class="global_search_input" style="color: #8B8B8B; margin: 5px 10px 5px 10px; width: 300px; background: none; border: none;" id="subcategory" name="subcategory" required>
                        <!-- Dynamic option with JS -->
                    </select>
                </div>
            </div>
        </div>
        <br>
        <!-- submit button -->
        <div class="w-100 d-flex justify-content-center"> 
            <button class="hoverbutton" style="background-color:#A41A1A; padding: 5px 10px 5px 10px; border: none; border-radius: 10px; margin-right: 1em; color: #A1DCE9; width: 25%;" onclick="window.location.href='{% url 'forumindex' %}'">Cancel</button> 
            <button class="hoverbutton" style="background-color:#a1dce9; padding: 5px 10px 5px 10px; border: none; border-radius: 10px; margin-right: 1em; color: #514669; width: 25%;" type="submit">Post</button>
        </div>
    </form>
{% endblock %}
