{% extends 'base.html' %}

{% block title %}About - LiftLinker{% endblock %}

{% block nav %}
    <a class="nav-link hoverlink" href="{% url 'index' %}"
        style="color: #a1dce9;  margin-left: 1.5em; margin-right: 1.5em;">Home</a>
    <a class="nav-link hoverlink" href="{% url 'forumindex' %}"
        style="color: #a1dce9; margin-left: 1.5em; margin-right: 1.5em;">Forum</a>
    <a class="nav-link hoverlink" href="{% url 'about' %}"
        style="color: #FDA8FF; margin-left: 1.5em; margin-right: 1.5em;">About</a>
        
    <div style="background-color: white; width: 4px; height: 2em; margin-left: 1.5em; margin-right: 1.5em;"></div>
    
    {% if session.username %}
        <a class="nav-link hoverlink" href="{% url 'userindex' %}"
            style="color: #ffffff;  margin-left: 1.5em; margin-right: 1.5em;">{{ session.username }}</a>
    {% else %}
        <a class="nav-link hoverlink" href="{% url 'userindex' %}"
            style="color: #ffffff;  margin-left: 1.5em; margin-right: 1.5em;">Login</a>
    {% endif %}
{% endblock %}

{% block navbar2 %}
    <a class="nav-link hoverlink" id="body-about-button" href="#" onclick="switch_body('about')" style="color: #A1DCE9; text-decoration: underline; margin-right: .5em;">Who are we ?</a>
    <a class="nav-link hoverlink" id="body-contact-button" href="#" onclick="switch_body('contact')" style="color: #ffffff; margin-right: .5em;">Contact us</a>
{% endblock %}

{% block body %}
    <script>
        function switch_body(div_to_use) {
            if (div_to_use == 'about') {
                document.getElementById('body-about').style.display = 'block';
                document.getElementById('body-contact').style.display = 'none';
                
                document.getElementById('body-about-button').style.color = '#A1DCE9';
                document.getElementById('body-contact-button').style.color = '#ffffff';
                
                document.getElementById('body-about-button').style.textDecoration = 'underline';
                document.getElementById('body-contact-button').style.textDecoration = 'none';

            } else if (div_to_use == 'contact') {
                document.getElementById('body-about').style.display = 'none';
                document.getElementById('body-contact').style.display = 'block';
                
                document.getElementById('body-about-button').style.color = '#ffffff';
                document.getElementById('body-contact-button').style.color = '#A1DCE9';
                
                document.getElementById('body-about-button').style.textDecoration = 'none';
                document.getElementById('body-contact-button').style.textDecoration = 'underline';

            }
        }
    </script>

    <div class="h-100 w-100" id="body-about" style="display: block;">
        <h1>About us.</h1>

        <p>
            Hello world !
        </p>
    </div>

    <div class="h-100 w-100" id="body-contact" style="display: none;">
        <h1>Contact us.</h1>

        <p>
            Hello world !
        </p>
    </div>
{% endblock %}