{% extends 'base.html' %}

{% block title %}LiftLinker{% endblock %}

{% block nav %}
    <a class="nav-link hoverlink" href="{% url 'index' %}"
        style="color: #FDA8FF;  margin-left: 1.5em; margin-right: 1.5em;">Home</a>
    <a class="nav-link hoverlink" href="{% url 'forumindex' %}"
        style="color: #a1dce9; margin-left: 1.5em; margin-right: 1.5em;">Forum</a>
    <a class="nav-link hoverlink" href="{% url 'about' %}"
        style="color: #a1dce9; margin-left: 1.5em; margin-right: 1.5em;">About</a>
        
    <div style="background-color: white; width: 4px; height: 2em; margin-left: 1.5em; margin-right: 1.5em;"></div>
    
    {% if session.username %}
        <a class="nav-link hoverlink" href="{% url 'userindex' %}"
            style="color: #ffffff;  margin-left: 1.5em; margin-right: 1.5em;">{{ session.username }}</a>
    {% else %}
        <a class="nav-link hoverlink" href="{% url 'userindex' %}"
            style="color: #ffffff;  margin-left: 1.5em; margin-right: 1.5em;">Login</a>
    {% endif %}
{% endblock %}


{% block navbar2 %}
    <a class="nav-link hoverlink" id="body-updates-button" href="#" onclick="switch_body('updates')" style="color: #A1DCE9; text-decoration: underline; margin-right: .5em;">Updates</a>
    <a class="nav-link hoverlink" id="body-news-button" href="#" onclick="switch_body('news')" style="color: #ffffff; margin-right: .5em;">News</a>
    <a class="nav-link hoverlink" id="body-places-button" href="#" onclick="switch_body('places')" style="color: #ffffff; margin-right: .5em;">Places</a>
{% endblock %}


{% block body %}
    <script>
        function switch_body(div_to_use) {
            if (div_to_use == 'updates') {
                document.getElementById('body-updates').style.display = 'block';
                document.getElementById('body-news').style.display = 'none';
                document.getElementById('body-places').style.display = 'none';
                
                document.getElementById('body-updates-button').style.color = '#A1DCE9';
                document.getElementById('body-news-button').style.color = '#ffffff';
                document.getElementById('body-places-button').style.color = '#ffffff';
                
                document.getElementById('body-updates-button').style.textDecoration = 'underline';
                document.getElementById('body-news-button').style.textDecoration = 'none';
                document.getElementById('body-places-button').style.textDecoration = 'none';

            } else if (div_to_use == 'news') {
                document.getElementById('body-updates').style.display = 'none';
                document.getElementById('body-news').style.display = 'block';
                document.getElementById('body-places').style.display = 'none';

                document.getElementById('body-updates-button').style.color = '#ffffff';
                document.getElementById('body-news-button').style.color = '#A1DCE9';
                document.getElementById('body-places-button').style.color = '#ffffff';

                document.getElementById('body-updates-button').style.textDecoration = 'none';
                document.getElementById('body-news-button').style.textDecoration = 'underline';
                document.getElementById('body-places-button').style.textDecoration = 'none';

            } else if (div_to_use == 'places') {
                document.getElementById('body-updates').style.display = 'none';
                document.getElementById('body-news').style.display = 'none';
                document.getElementById('body-places').style.display = 'block';
                
                document.getElementById('body-updates-button').style.color = '#ffffff';
                document.getElementById('body-news-button').style.color = '#ffffff';
                document.getElementById('body-places-button').style.color = '#A1DCE9';
                
                document.getElementById('body-updates-button').style.textDecoration = 'none';
                document.getElementById('body-news-button').style.textDecoration = 'none';
                document.getElementById('body-places-button').style.textDecoration = 'underline';
                
            }
        }
    </script>

    <div class="h-100 w-100" id="body-updates" style="display: block;">
        <h1>
            Update
        </h1>
    </div>

    <div class="h-100 w-100" id="body-news" style="display: none;">
        <h1>
            News
        </h1>
    </div>

    <div class="h-100 w-100" id="body-places" style="display: none;">
        <h1>
            Places
        </h1>
    </div>
{% endblock %}