{% extends 'base.html' %}

{% block title %}LiftLinker{% endblock %}

{% block nav %}
    <a class="nav-link hoverlink" href="{% url 'index' %}"
        style="color: #FDA8FF;  margin-left: 1.5em; margin-right: 1.5em;">Home</a>
    <a class="nav-link hoverlink" href="{% url 'forumindex' %}"
        style="color: #a1dce9; margin-left: 1.5em; margin-right: 1.5em;">Forum</a>
    <a class="nav-link hoverlink" href="{% url 'about' %}"
        style="color: #a1dce9; margin-left: 1.5em; margin-right: 1.5em;">About</a>
        
    <div style="background-color: white; width: 4px; height: 2em; margin-left: 1.5em; margin-right: 1.5em;"></div>
    
    {% if session.username %}
        <a class="nav-link hoverlink" href="{% url 'userindex' %}"
            style="color: #ffffff;  margin-left: 1.5em; margin-right: 1.5em;">{{ session.username }}</a>
    {% else %}
        <a class="nav-link hoverlink" href="{% url 'userindex' %}"
            style="color: #ffffff;  margin-left: 1.5em; margin-right: 1.5em;">Login</a>
    {% endif %}
{% endblock %}


{% block navbar2 %}
    <a class="nav-link hoverlink" href="{% url 'index' %}" style="color: #ffffff; margin-right: .5em;">Updates</a>
    <a class="nav-link hoverlink" href="{% url 'news' %}" style="color: #A1DCE9; text-decoration: underline; margin-right: .5em;">News</a>
    <a class="nav-link hoverlink" href="{% url 'places' %}" style="color: #ffffff; margin-right: .5em;">Places</a>
{% endblock %}


{% block body %}
    <h1>
        Home page
    </h1>
{% endblock %}